$oslo-darkblue: #2A2859;
$oslo-limegreen: #43F8B6;
$oslo-lightblue: #B3F5FF;
$oslo-white: #FFF;
$oslo-black: #000;

.nav-button {
    padding: 12px 16px;
    min-width: 100px;
    background-color: $oslo-lightblue;
    color: $oslo-darkblue;
    border: none;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    justify-content: center;
    font-size: 1rem;
    text-align: left;
    align-items: center;

    &.option {
        justify-content: flex-start;
        margin-bottom: 12px;
    }

    &:hover {
        color: $oslo-white;
        background-color: $oslo-black;
    }

    &.wide {
        width: 100%;
        max-width: 420px;
    }

    &.secondary {
        color: $oslo-darkblue;
        background-color: #FFF;
        border: 1px solid $oslo-darkblue;

        &:hover {
            color: #FFF;
            background-color: $oslo-darkblue;
        }
    }

    .arrow {
        width: 22px;
        height: 22px;
        margin-right: 12px;
    }

    &:hover {
        #main-path {
            stroke: #FFF;
        }
    }

    #main-path {
        stroke: $oslo-darkblue;
    }
}