* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.page-root {
  padding: 0 16px;
  max-width: 420px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 60px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.page-info {
  padding-bottom: 60px;
}

.page-description {
  font-size: 1.25rem;
  margin: 12px 0;
}

.form-column {
  margin: 24px 0 40px 0;
}

.button-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}