$oslo-yellow: #F9C66B;
$oslo-lime: #C7F6C9;

.service-item {
    background-color: $oslo-yellow;
    padding: 16px;
    display: flex;
    flex-direction: column;
    color: #FFF;

    h4 {
        font-weight: 500;
        font-size: 1.25rem;
        margin: 0 0 12px 0;
    }

    span {
        font-size: 1rem;
    }
}